.img-fluidd{
    width: 300px;
    height: 300px;
}
.img-fluid{
    width: 700px;
    height: 300px;
}
.card-img-top{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Estilos generales para pantallas muy pequeñas (por defecto, 1 columna) */
.card {
    margin-bottom: 1rem; 
}

/* Estilos para pantallas pequeñas (sm) y superiores (576px) */
@media (min-width: 576px) {
    .row.row-cols-sm-2 > .col {
        flex: 0 0 auto; 
        width: 50%; 
    }
}

/* Estilos para pantallas medianas(768px) */
@media (min-width: 768px) {
    .row.row-cols-md-2 > .col {
        flex: 0 0 auto;
        width: 50%; 
    }
}

/* Para pantallas muy grandes */
@media (min-width: 1200px) {
    
}